<!DOCTYPE html>
<html>
<head>
<% INCLUDE head.htm %>
<title>Current Chains &mdash; The CPAN &ldquo;Once a Week, Every Week&rdquo; Contest</title>
</head>
<body>
<% INCLUDE header.htm %>
<h1><a href="./">The CPAN &ldquo;Once a Week, Every Week&rdquo; Contest</a></h1>

<h2>Chains Still under Construction</h2>

<p class="tblNote">All authors whose chain is at least two weeks long</p>

<table id="current_runs">
<thead>
<tr>
<th>Rank</th>
<th>Author</th>
<th>Chain Started</th>
<th>Weeks</th>
<th>Active</th>
</tr>
</thead>
<tbody>
<% WHILE (author = current()) %>
<tr id="id<% author.id %>">
<td class="r"><% author.ranking %></td>
<td class="a"><a href="https://metacpan.org/author/<% author.id
  %>"><% author.id %></a></td>
<td class="d"><% author.start_date %></td>
<td class="l"><% author.length %></td>
<td class="p"><% author.percentage %></td>
</tr>
<% END %>
</tbody>
</table>
<% INCLUDE footer.htm %>
</body>
</html>
<%#
 Local Variables:
 compile-command: "perl ../makeweb.pl"
 End:
%>
