<%#-*-psgml-html-*-#%>
<div id="contact">Contact me at <a href="mailto:onceaweek&#64;cjmweb.net"
>onceaweek&#64;cjmweb.net</a></div>
<%#
 Local Variables:
 compile-command: "perl ../makeweb.pl"
 End:
%>
