<%#-*-psgml-html-*-#%>
<link rel="stylesheet" href="style.css" type="text/css">
<link rel="icon" href="favicon.png" type="image/png">
<%#
 Local Variables:
 compile-command: "perl ../makeweb.pl"
 End:
%>
