<!DOCTYPE html>
<html>
<head>
<% INCLUDE head.htm %>
<title>Longest Chains &mdash; The CPAN &ldquo;Once a Week, Every Week&rdquo; Contest</title>
</head>
<body>
<% INCLUDE header.htm %>
<h1><a href="./">The CPAN &ldquo;Once a Week, Every Week&rdquo; Contest</a></h1>

<h2>The 200 Longest Chains</h2>
<p class="tblNote">Starting from January 1, 2012</p>

<table id="all_time">
<thead>
<tr>
<th>Rank</th>
<th>Author</th>
<th>Chain Started</th>
<th colspan="2">Weeks</th>
<th>Active</th>
</tr>
</thead>
<tbody>
<% WHILE (author = all_time()) %>
<tr id="id<% author.id %>">
<td class="r"><% author.ranking %></td>
<td class="a"><a href="https://metacpan.org/author/<% author.id
  %>"><% author.id %></a></td>
<td class="d"><% author.start_date %></td>
<td class="l"><% author.length %></td>
<td class="o"><% IF author.ongoing %>*<% END %></td>
<td class="p"><% author.percentage %></td>
</tr>
<% END %>
</tbody>
</table>

<p class="note">* indicates that the chain is not yet broken</p>
<% INCLUDE footer.htm %>
</body>
</html>
<%#
 Local Variables:
 compile-command: "perl ../makeweb.pl"
 End:
%>
