a:link { color: blue }
a:visited { color: purple }
a:active {color: red }

a { text-decoration: none }
a:hover { text-decoration: underline }

body {
  background-color: white;
  color: black;
  font-family: Verdana, Arial, "Times New Roman", Times, sans-serif;
}

h1, h2, h3 { text-align: center }

h1 a { color: black !important }
h1 a:hover { color: blue !important }

.tblNote { text-align: center; margin-top: -2ex }

table {
  margin-left: auto;
  margin-right: auto;
}

th { text-align: left; padding-right: 1em }

.rank { text-align: right; padding-right: 0.5em }
.aid { padding-right: 1em }
.length { text-align: right }
.note { text-align: center }
.ongoing { width: 2em }
.pcnt { text-align: right; padding-right: 1em }

#current_runs .length { padding-right: 2em }
